/* Your code here! */
main {
  margin: 25px auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  display: block;
  margin: 10px;
}

body{
  background-color: rgb(249, 167, 91);
}